/* reset */

/* da segnare sempre all'inizio del CSS */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: blueviolet;
  }

/* # UTILS */

.container-header {
    margin: 0;
    padding: 0 25px;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }

.container {
    margin: 50px 100px;
    padding: 10px 10px;
    max-width: 100%;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
  }

  /* header */

  .upper-header{
    line-height: 100px;    
    background-color: white;
  }

  .page-logo{
    height: 70px;    
    vertical-align: middle;
  }

  .page-title{
    display: inline;
    vertical-align: middle;
    font-weight: bold;
    font-size: 3.5rem;
  }

  /* main */
  

  .list-item{
    list-style-type: none;
  }
 
