/* reset */

/* da segnare sempre all'inizio del CSS */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f7f8fa;    
    font-family: Arial, Helvetica, sans-serif;
  }

h2{
    font-weight: bold;
    font-size: 1.3rem;
}

/* # UTILS */

.container {
    margin: 40px 250px;
    padding: 10px 0px;
    max-width: 100%;
    background-color: white;
}

  /* header */

  .upper-header{
    line-height: 80px;    
    background-color: white;
    margin: 0;
    padding: 0 25px;
    max-width: 100%;
  }

  .page-header-logo{
    height: 60px;    
    vertical-align: middle;
  }

  .page-header-title{
    display: inline;
    vertical-align: middle;
    font-weight: bold;
    font-size: 3rem;
  }

  /* main */
  
  .card{
    
    padding-left: 50px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
  }

  .card-buttons{    
    margin-top: 10px;
  }

  .btn{
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #4aaee9;
    border-radius: 8%;
    background-color: #4aaee9;
    font-size: 0.8rem;
    color: white;
  }

  .btn:hover{
    background-color: white;
    border: 1px solid gray;
    border-radius: 8%;
    color: gray;
  }

  .list{    
    padding-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .list-item{
    list-style-type: none;
    margin: 15px 0px;
  }

  .task{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;    
    border: 1px solid currentColor;
    border-radius: 50%;
  }

  .task.task-done{
    color: green;

  }
  
  .task.task-not-done{    
    color: red;
  }

  .label{
    padding: 5px 10px;
    border-radius: 20%;
    color: white;
    font-size: .7rem;
  }

  .label.editorial{
    background-color: #4aaee9;

  }

  .label.goals{
    background-color: #9b71df;
  }

  .label.recruiting{
    background-color: #67c0a4;
  }

  
  .label.mobile{
    background-color: #f19e35;
  }

  .label.website{
    background-color: #d8669b;
  }

  .label.sales{
    background-color: #b0c82c;
  }